.E8D9D785-6A04-49B5-9B3C-978BEAC8C2CC
  if message
    h4.error= message
  else if album
    h4.artist= 'Top album for ' + artist + ':'
    ol.albumList
      li= album
  else
    h4.artist= 'Top albums for ' + artist + ':'
    ol.albumList
      each album in albums
        li= album
